.noticias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }


  
 
  
  .noticias-container li:hover {
    box-shadow: 0 0 10px 5px #3b2d2d;
  }



  .noticia-item:hover {
    box-shadow: 0 0 10px 5px #0e0c0c;
  }
  
  .noticia-item:hover h3 {
    text-decoration: underline;
  }
  
  .noticia-item img {
    width: 100%;
  }
  
  .titulo-noticias {
    color: #0d3981;
    font-weight: 50px;
    font-size: 50px;
  }
  
  li{
    padding: 10px;
    width: 50%;
    background-attachment: fixed;
    background-color: #799ed8;

  }

  select{
    padding: 10px;
    font-weight: 600;
  }

  input{
    font-weight:500;
  }

  h2{
    font-weight: 500;
  }